body {
    background: #d3d3d3;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/donate.jpg");
    background-position: center center;
    background-size: cover;
  }


  header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  header.masthead h1 {
    font-size: 2rem;
}
  
  header.masthead p {
    font-weight: 300;
  }
  
  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem;
    }
  }
  
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 4rem;
    }
  }

  
  @media (max-width: 992px) {
    .esp-section {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .nav-title {
    color: #600404;
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    font-weight: 600;
  }
  
  #requisitos {
    background-color: #600404 !important;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 80px;
  }

  #etapas {
    padding-top: 80px; 
  }

  #etapas img {
    width: 30%;
  } 

  #etapas p {
    font-family: 'Raleway', sans-serif;
  }

  #hemocentro {
    background-color: #600404 !important;
    display: inline-block;
    height: 100%;
    width: 100%;
  }



  #footer {
    background-color: #1b1b1b !important;
    color: #fff;
    font-family: 'Lato', sans-serif;

 
  } 
  .p-footer {
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }